pipeline/_Process Type 3 - Update Delta Lake.json
{
	"name": "_Process Type 3 - Update Delta Lake",
	"properties": {
		"description": "Process the Changeset into the Delta Table.\n",
		"activities": [
			{
				"name": "Process Entity",
				"description": "Process each individual Entity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter out Invalid Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter out Invalid Entities').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Process Changeset into Delta Lake",
							"description": "This Notebook will process the Changeset into the Databricks Delta Table.",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Lookup the Data Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataWarehouse/_Process Changeset into Delta Table",
								"baseParameters": {
									"System": {
										"value": "@activity('Translate JSON Variables').output.result.SourceSystem",
										"type": "Expression"
									},
									"Entity": {
										"value": "@activity('Translate JSON Variables').output.result.EntityName",
										"type": "Expression"
									},
									"PrimaryKeyColumnList": {
										"value": "@activity('Translate JSON Variables').output.result.PrimaryKeyColumnList",
										"type": "Expression"
									},
									"Scope": {
										"value": "@activity('Translate JSON Variables').output.result.Scope",
										"type": "Expression"
									},
									"DataDate": {
										"value": "@string(activity('Lookup the Data Date').output.firstRow.DataDate)",
										"type": "Expression"
									},
									"DatasetType": {
										"value": "@activity('Translate JSON Variables').output.result.DatasetType",
										"type": "Expression"
									},
									"PartitionColumn": {
										"value": "@activity('Translate JSON Variables').output.result.PartitionColumn",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksLinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Process Start Time",
							"description": "Set the LastRunStartTime for this Entity",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Process].[up_UpdateEntityProcessStartTime]",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Translate JSON Variables",
							"description": "Accept four parameters, VariablesJSON, OverrideVariablesJSON, ConfigurationJSON and DefaultsJSON and translate into a recordset where the columns are a representation of the nodes in the resultant JSON.",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Set Process Start Time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "TranslateVariables",
								"method": "POST",
								"body": {
									"value": "@item()",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunctionLinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Indicate Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Process Changeset into Delta Lake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Process].[up_UpdateEntityDiagnostics]",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Result": {
										"value": "Success",
										"type": "String"
									},
									"ExecutionMessage": {
										"value": {
											"value": "Success in Data Factory '@{pipeline().DataFactory}' | Pipeline '@{pipeline().Pipeline}' for '@{activity('Translate JSON Variables').output.result.SourceSystem}.@{activity('Translate JSON Variables').output.result.EntityName}' - Databricks Runsheet URL: @{activity('Process Changeset into Delta Lake').output.runPageUrl} | Runtime (ms):  @{activity('Process Changeset into Delta Lake').output.executionDuration}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Indicate Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Process Changeset into Delta Lake",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Process].[up_UpdateEntityDiagnostics]",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionMessage": {
										"value": {
											"value": "Error in Data Factory '@{pipeline().DataFactory}' | Pipeline '@{pipeline().Pipeline}' for '@{activity('Translate JSON Variables').output.result.SourceSystem}.@{activity('Translate JSON Variables').output.result.EntityName}' - Databricks Runsheet URL: @{activity('Process Changeset into Delta Lake').output.runPageUrl} | Runtime (ms):  @{activity('Process Changeset into Delta Lake').output.executionDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Result": {
										"value": "Failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup the Data Date",
							"description": "Read the Control table that specifies which date this data pertains to.",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Translate JSON Variables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@activity('Translate JSON Variables').output.result.DataDateQuery",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "ControlDB_Dataset",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Entities to Process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[up_GetEntitiesToProcess]",
						"storedProcedureParameters": {
							"BatchSize": {
								"type": "Int32",
								"value": "999999"
							},
							"EntityGroupKeyList": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EntityGroupKeyList",
									"type": "Expression"
								}
							},
							"ProcessTypeKey": {
								"type": "Int32",
								"value": {
									"value": "@variables('ProcessTypeKey')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter out Invalid Entities",
				"description": "If the EntityKey < 0, filter out.  An EntityKey of -1 is used to indicate there are no Entities to Process.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Entities to Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Entities to Process').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item().EntityKey, 0)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"EntityGroupKeyList": {
				"type": "String",
				"defaultValue": "2"
			}
		},
		"variables": {
			"ProcessTypeKey": {
				"type": "String",
				"defaultValue": "3"
			}
		},
		"folder": {
			"name": "Process Framework"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}