pipeline/CopyPipeline_ysb.json
{
	"name": "CopyPipeline_ysb",
	"properties": {
		"activities": [
			{
				"name": "ForEach_ysb",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_ysb",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().TableName}"
								},
								{
									"name": "Destination",
									"value": "raw/@{concat(string(item().TableName), '.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlSource"
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_ysb",
									"type": "DatasetReference",
									"parameters": {
										"cw_tableName": "@item().TableName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_ysb",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": {
											"value": "@concat(string(item().TableName), '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "AllTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}