pipeline/CopyPipeline_ysb.json
{
	"name": "CopyPipeline_ysb",
	"properties": {
		"activities": [
			{
				"name": "ForEach_ysb",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_ysb",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().TableName}"
								},
								{
									"name": "Destination",
									"value": "raw/@{item().TableName.concat(\".parquet\")}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlSource"
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_ysb",
									"type": "DatasetReference",
									"parameters": {
										"cw_tableName": "@item().TableName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_ysb",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": {
											"value": "@item().TableName.concat(\".parquet\")",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "AllTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"tableName": "SalesLT.Address"
						},
						"destination": {
							"fileName": "SalesLT.Address.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.Customer"
						},
						"destination": {
							"fileName": "SalesLT.Customer.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.CustomerAddress"
						},
						"destination": {
							"fileName": "SalesLT.CustomerAddress.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.Product"
						},
						"destination": {
							"fileName": "SalesLT.Product.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.ProductCategory"
						},
						"destination": {
							"fileName": "SalesLT.ProductCategory.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.ProductDescription"
						},
						"destination": {
							"fileName": "SalesLT.ProductDescription.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.ProductModel"
						},
						"destination": {
							"fileName": "SalesLT.ProductModel.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.ProductModelProductDescription"
						},
						"destination": {
							"fileName": "SalesLT.ProductModelProductDescription.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.SalesOrderDetail"
						},
						"destination": {
							"fileName": "SalesLT.SalesOrderDetail.parquet"
						}
					},
					{
						"source": {
							"tableName": "SalesLT.SalesOrderHeader"
						},
						"destination": {
							"fileName": "SalesLT.SalesOrderHeader.parquet"
						}
					}
				]
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}